.logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.logo-img {
  width: 50px;
  height: auto;
}

.setting-img {
  width: 55px;
  height: auto;
}